<%if (session[:user_id]) %>
        <% @user =  User.find(session[:user_id])%>
<% end %>
 <%   if( @user && @user.role == 2 )  %>
<h1>Listing users</h1>

<table>
  <tr>
    <th>User name</th>
    <th>User email</th>
    <th>User password</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
    <td><%= user.user_email %></td>
    <td><%= user.user_password %></td>
    <% if user.role == 1 %>
    <td> Member </td>
    <% else %>
    <td> Admin </td>
    <% end %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
    <% if( user.role == 1 ) %>
    <td><%= link_to 'Make him Admin', user , :x => '1' %></td>
    <% else %>
    <td><%= link_to 'Make him Member', user , :x => '1' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<% end %>
